<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <meta charset="UTF-8">
  <title>Smart Control4's Home</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="static/image/favicon.png">
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <script src="static/js/index.js"></script>
  <style>
  </style>
</head>

<body>
  <div class="page-wrapper">
    <nav>
      <div class="nav">
        <a id="logo-container" href="#" class="brand-logo"><img src="/static/image/house-logo.png" height="72" width="72">Smart Control4's Home</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Smart Control4's</a></li>

          <li><a href="/about">About</a></li>
          <li><a href="www.umapetersen.com">Connect</a></li>
        </ul>
      </div>
    </nav>
    <header>
      <h1>jQuery Smart Control4's Home</h1>
      <hr>
    </header>
    <section>
    <h1 class="about-title">About Smart Control4’s Home</h1>
    <p class="about">Constructed a jQuery application simulating house automation. Features includes turning on and off a light. A temperature control panel to regulate temperatue’s of your home which also includes added features such as opening window, turning on a fan, or starting a fire. jQuery Smart Control4’s Home is using Python, Flask and JavaScript. jQuery Smart Control4’s Home renders control panel where user can interact with their home.
</p>



    </section>

    <footer>
      <div class="box footer">@ 2017 Uma Petersen</div>
    </footer>
    </div>
</body>

</html>
