<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <meta charset="UTF-8">
  <title>Smart Control4's Home</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="static/image/favicon.png">
  <link rel="stylesheet" type="text/css" href="static/css/flex.css">
  <script src="static/js/index.js"></script>
  <style>
  /* colors
==========================
 #FFCE54;// yelllow
 #FFFFFF; // white
*/
  /*


  </style>
</head>

<body>
  <div class="page-wrapper">
    <nav>
      <div class="nav">
        <a id="logo-container" href="#" class="brand-logo"><img src="/static/image/house-logo.png" height="72" width="72">Smart Control4's Home</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">About</a></li>
          <li><a href="#">Connect</a></li>
        </ul>
        <!--  <ul id="nav-mobile" class="side-nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Connect</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
      </div>
    </nav>
    <header>
      <h1>jQuery Smart Control4's Home</h1>
    </header>
    <section id="control-panel">
      <div class="container">
        <div class="box control-panel">
          <h2>Control Panel Container</h2>
          <div class="item">
            <div class="items light-switch-panel">
              <button class="light-switch">Lights</button>
            </div>
            <div class="items temperature-panel display">
              <input type='number' name='temperature' value='65' class='temp-input' min="40 &#176;F" max="85 &#176;F" placeholder="60 &#176;F" />
              <input type='button' value='set' class="temp" />
            </div>
          </div>
        </div>
      </div>
  </section>
  <section id=house>
    <div class="container">
      <div class="box">
        <div class="item">
             <div class="house-roof" id="roof">

          </div>
        </div>
      </div>
      <div class="box house-rooms">
        <div class="item">
          <div class="rooms">
            <div class="room1 light" id="light">
            <p>Light</p>
            <div class="off"></div>

            </div>

          </div>
          <div class="rooms">
            <div class="room2 fan" id="fan">
            <p>Fan</p>
            </div>

          </div>
        </div>
        <div class="item">
          <div class="rooms">
               <div class="room3">
                 <p>Fire</p>
               <div class="fire" id="fire"></div>
               </div>
          </div>
          <div class="rooms">
               <div class="room4 window" id="window">
               <p>Window</p>
               </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="box footer">@ 2017 Uma Petersen</div>
  </footer>
  </div>
</body>
</html>
